* {
    padding: 0px;
    margin: 0px;
}

#content {
    background-color: aliceblue;
}

.header {
    display: flex;
    justify-content: center;
    height: 50px;
}

.header div {
    display: flex;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
}

.subheader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    gap: 24px;
}

.tab {
    text-decoration: none;

}